@model List<MVC6amCoolestBatch.Models.EmployeeModel>
@{
    ViewBag.Title = "Index9";
}

<h2>Index9</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>