
@{
    ViewBag.Title = "LoadEmployeefromJsonData";
}

<h2>LoadEmployeefromJsonData</h2>

<table id="table1" class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Salary</th>
    </tr>
</table>



<script src="~/scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    $.ajax({
        url: "http://localhost:53085/new/getjsonData2",
        type: "GET",
        dataType: "JSON",
        success: function (result) {
            $.each(result, function (index, key) {

                $('#table1 tr:last').after('<tr><td>' + key.EmpId + '</td><td>' + key.EmpName + '</td><td>' + key.EmpSalary + '</td></tr>')

            })
        }

    })
</script>